<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %>
</head>
<body>
    <%- include("./partials/navigation.ejs")  %>
    <div class="form-container">
        <form class="product-form" action="/admin/edit-product" method="post">
            <div class="label-input">
                <label for="product">Product:</label>
                <input type="text" name="productName" id="product" value="<%= product.name %>">
            </div>
            <div class="label-input">
                <label for="price">Price:</label>
                <input type="text" name="productPrice" id="price" value="<%= product.price %>">
            </div>
            <div class="label-input">
                <label for="description">Description:</label>
                <textarea name="productDescription" id="description"cols="20" rows="8" ><%= product.description %></textarea> 
            </div>
            <div class="label-input">
                <label for="category">Category:</label>
                <input type="text" name="productCategory" id="category" value="<%= product.category %>">
            </div>
            <div class="label-input">
                <label for="imageURL">Image URL:</label>
                <input type="text" name="productImageURL" id="imageURL" value="<%= product.imageURL %>">
            </div>
            <input type="hidden" name="productId" value="<%= product._id %>">
            <button type="submit" class="product-form-btn">Update Product</button>
        </form>
    </div>
</body>
</html>