<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navigation.ejs") %>
    <h1><%= title %></h1>
    <main>
        <section class="products-list">
            <% for(let i = 0; i < products.length; i++) { %>
                <article class="product">
                    <p class="product-name"><%= products[i].name %></p>
                    <span class="product-price"><%= products[i].price %></span>
                    <img src="<%=products[i].imageUrl %>" alt="">
                </article>
            <% } %>
        </section>
    </main>
    <!-- EJS Syntax -->
</body>
</html>