<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navigation.ejs") %>
    <h1><%= title %></h1>
    <main>
        <article class="product-details">
            <img src="<%= product.imageURL %>" alt="<%= product.name %>">
            <p class="product-name"><%= product.name %></p>
            <p class="category"><%= product.category %></p>
            <p class="description"><%= product.description %></p>
            <p class="product-price">$<%= product.price %></p>
            <% if(isAuthenticated) { %>
            <form action="/admin/delete-product" method="post" class="button-container">
                <input type="hidden" value="<%= product._id %>" name="productId">
                <a href="/admin/edit-product/<%= encodeURIComponent(product._id) %>" class="edit-button">Edit</a>
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <% } %>
        </article>
    </main>
</body>
</html>
